<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>certificate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/icomoon.css">
    <link rel="stylesheet" href="assets/css/vendor/remixicon.css">
    <link rel="stylesheet" href="assets/css/vendor/magnifypopup.min.css">
    <link rel="stylesheet" href="assets/css/vendor/odometer.min.css">
    <link rel="stylesheet" href="assets/css/vendor/lightbox.min.css">
    <link rel="stylesheet" href="assets/css/vendor/animation.min.css">
    <link rel="stylesheet" href="assets/css/vendor/jqueru-ui-min.css">
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/vendor/tipped.min.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>

<body class="sticky-header ">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->

   

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
     <header class="edu-header header-style-1 header-fullwidth">
            <div class="header-top-bar">
                <div class="container-fluid">
                    <div class="header-top">
                        <div class="header-top-left">
                            <div class="header-notify">
                                First 20 students get 50% discount. <a href="#">Hurry up!</a>
                            </div>
                        </div>
                        <div class="header-top-right">
                            <ul class="header-info">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="tel:+011235641231"><i class="icon-phone"></i>Call: 123 4561 5523</a></li>
                                <li><a href="mailto:info@edublink.com" target="_blank"><i class="icon-envelope"></i>Email: info@ht.com</a></li>
                                <li class="social-icon">
                                    <a href="#"><i class="icon-facebook"></i></a>
                                    <a href="#"><i class="icon-instagram"></i></a>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                    <a href="#"><i class="icon-linkedin2"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edu-sticky-placeholder"></div>
            <div class="header-mainmenu">
                <div class="container-fluid">
                    <div class="header-navbar">
                        <div class="header-brand">
                            <div class="logo">
                                <a href="index.html">
                                    <img class="logo-light" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                                    <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                                </a>
                            </div>
                            
                        </div>
                        <div class="header-mainnav">
                            <nav class="mainmenu-nav">
                               <ul class="mainmenu">
                                    <li><a href="#">Home</a>
                    
                                    </li>
                                    <li><a href="#">About Us</a>
									</li>
     
                                    <li class="has-droupdown"><a href="#">Our Courses</a>
                                        <ul class="submenu">
                                            <li><a href="course-one.html">Course Style 1</a></li>
                                            <li><a href="course-two.html">Course Style 2</a></li>
                                            <li><a href="course-three.html">Course Style 3</a></li>
                                            <li><a href="course-four.html">Course Style 4</a></li>
                                            <li><a href="course-five.html">Course Style 5</a></li>
                                       
									   </ul>
                                    </li>
                                    <li><a href="#">Blog</a></li>
									 <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-right">
                            <ul class="header-action">
                                <li class="search-bar">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <button class="search-btn" type="button"><i class="icon-2"></i></button>
                                    </div>
                                </li>
                                <li class="icon search-icon">
                                    <a href="javascript:void(0)" class="search-trigger">
                                        <i class="icon-2"></i>
                                    </a>
                                </li>
                                
                                <li class="header-btn">
                                    <a href="contact-us.html" class="edu-btn btn-medium">Request a Quote <i class="icon-4"></i></a>
                                </li>
                                <li class="mobile-menu-bar d-block d-xl-none">
                                    <button class="hamberger-button">
                                        <i class="icon-54"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-mobile-menu">
                <div class="inner">
                    <div class="header-top">
                        <div class="logo">
                            <a href="index.html">
                                <img class="logo-light" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                                <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                            </a>
                        </div>
                        <div class="close-menu">
                            <button class="close-button">
                                <i class="icon-73"></i>
                            </button>
                        </div>
                    </div>
                   <ul class="mainmenu">
                                    <li><a href="#">Home</a>
                    
                                    </li>
                                    <li><a href="#">About Us</a>
									</li>
     
                                    <li class="has-droupdown"><a href="#">Our Courses</a>
                                        <ul class="submenu">
                                            <li><a href="course-one.html">Course Style 1</a></li>
                                            <li><a href="course-two.html">Course Style 2</a></li>
                                            <li><a href="course-three.html">Course Style 3</a></li>
                                            <li><a href="course-four.html">Course Style 4</a></li>
                                            <li><a href="course-five.html">Course Style 5</a></li>
                                       
									   </ul>
                                    </li>
                                    <li><a href="#">Blog</a></li>
									 <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                </div>
            </div>
            <!-- Start Search Popup  -->
            <div class="edu-search-popup">
                <div class="content-wrap">
                    <div class="site-logo">
                        <img class="logo-light" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                        <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                    </div>
                    <div class="close-button">
                        <button class="close-trigger"><i class="icon-73"></i></button>
                    </div>
                    <div class="inner">
                        <form class="search-form" action="#">
                            <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
                            <button class="submit-button"><i class="icon-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Search Popup  -->
        </header>
        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area breadcrumb-style-2 bg-image bg-image--19">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Your Certificates</h1>
                    </div>
                   
                </div>
            </div>
        </div>

<div class="edu-brand-area brand-area-2 bg-image">
           <div class="container">
                
                <div class="row g-5">
                    <!-- Start Blog Grid  -->
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        
                    </div>
                    <!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
                    
                    <!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
					
<li class="search-bar">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        
                                    </div>
                                </li>
                     <div class="edu-brand-area brand-area-2 bg-image">
           <div class="container">
                
                <div class="row g-5">
                    <!-- Start Blog Grid  -->
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-07.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-04.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-05.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-06.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
                    
                    <!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
					
<li class="search-bar">
                                    
                                </li>
                     <div class="inner">
                        
                    </div>
                    <!-- End Blog Grid  -->
                </div>
            </div>
            <div class="container">
                
                <div class="row g-5">
                    <!-- Start Blog Grid  -->
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-07.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-04.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-05.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-06.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
                    
                    <!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
					
<li class="search-bar">
                                    
                                </li>
                     <div class="inner">
                        
                    </div>
                    <!-- End Blog Grid  -->
                </div>
            </div><div class="container">
                
                <div class="row g-5">
                    <!-- Start Blog Grid  -->
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-07.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-04.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-05.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-06.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
                    
                    <!-- End Blog Grid  -->
                    <!-- Start Blog Grid  -->
					
<li class="search-bar">
                                    
                                </li>
                     <div class="inner">
                        
                    </div>
                    <!-- End Blog Grid  -->
                </div>
            </div><ul class="shape-group">
                <li class="shape-2 scene shape-light" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                    <img data-depth="-2" src="assets/images/about/shape-41.png" alt="Shape" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                </li>
                <li class="shape-2 scene shape-dark" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                    <img data-depth="-2" src="assets/images/about/dark-shape-41.png" alt="Shape" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                </li>
            </ul>
        </div>
                    <!-- End Blog Grid  -->
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-2 scene shape-light" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                    <img data-depth="-2" src="assets/images/about/shape-41.png" alt="Shape" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                </li>
                <li class="shape-2 scene shape-dark" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                    <img data-depth="-2" src="assets/images/about/dark-shape-41.png" alt="Shape" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                </li>
            </ul>
        </div>
        <!-- Start Footer Area  -->
  		<footer class="edu-footer footer-dark bg-image footer-style-2">
            <div class="footer-top footer-top-2">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="edu-footer-widget">
                                <div class="logo">
                                    <a href="index.html">
                                        <img class="logo-light" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                                    </a>
                                </div>
                                <p class="description">Lorem ipsum dolor amet consecto adi pisicing elit sed eiusm tempor incidid unt labore dolore.</p>
                                <div class="widget-information">
                                    <ul class="information-list">
                                        <li><span>Add:</span>70-80 Upper St Norwich NR2</li>
                                        <li><span>Call:</span><a href="tel:+011235641231">+01 123 5641 231</a></li>
                                        <li><span>Email:</span><a href="mailto:info@edublink.com" target="_blank">info@ht.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="edu-footer-widget explore-widget">
                                <h4 class="widget-title">Important Links</h4>
                                <div class="inner">
                                    <ul class="footer-link link-hover">
                                        <li><a href="about-one.html">About</a></li>
                                        <li><a href="course-one.html">Courses</a></li>
                                        <li><a href="team-one.html">Instructor</a></li>
                                        <li><a href="event-grid.html">Blog</a></li>
                                        <li><a href="team-details.html">Contact</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-lg-4 col-md-6">
                            <div class="edu-footer-widget">
                                <h4 class="widget-title">Contacts</h4>
                                <div class="inner">
                                    <p class="description">Enter your email address to register to our newsletter subscription</p>
                                    <div class="input-group footer-subscription-form">
                                        <input type="email" class="form-control" placeholder="Your email">
                                        <button class="edu-btn btn-medium" type="button">Subscribe <i class="icon-4"></i></button>
                                    </div>
                                    <ul class="social-share icon-transparent">
                                        <li><a href="#" class="color-fb"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="color-linkd"><i class="icon-linkedin2"></i></a></li>
                                        <li><a href="#" class="color-ig"><i class="icon-instagram"></i></a></li>
                                        <li><a href="#" class="color-twitter"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#" class="color-yt"><i class="icon-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <p>Copyright 2023 <a href="https://1.envato.market/5bQ022" target="_blank">ht solutions</a> All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		
		
    

    </div>

    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
	============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/sal.min.js"></script>
    <script src="assets/js/vendor/backtotop.min.js"></script>
    <script src="assets/js/vendor/magnifypopup.min.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/odometer.min.js"></script>
    <script src="assets/js/vendor/isotop.min.js"></script>
    <script src="assets/js/vendor/imageloaded.min.js"></script>
    <script src="assets/js/vendor/lightbox.min.js"></script>
    <script src="assets/js/vendor/paralax.min.js"></script>
    <script src="assets/js/vendor/paralax-scroll.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.min.js"></script>
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <script src="assets/js/vendor/svg-inject.min.js"></script>
    <script src="assets/js/vendor/vivus.min.js"></script>
    <script src="assets/js/vendor/tipped.min.js"></script>
    <script src="assets/js/vendor/smooth-scroll.min.js"></script>
    <script src="assets/js/vendor/isInViewport.jquery.min.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>
</html>